@media ( max-width: 991px )
    
    .consultation
        .title
            font-size: 30px
        .subtitle
            font-size: 20px
    .carousel
        .carousel__inner
            width: 100%
            .slick-slide
                img
                    width: 100%
    .catalog
        &__tab
            div
                font-size: 12px
        .catalog-item
            width: 330px
            &__content
                transform: translateX(-110%)
            &__content_active
                transform: translateX(0%)
            &__subtitle
                font-size: 15px
            &__descr
                font-size: 12px
            &__list
                li
                    font-size: 11px
            &__price
                font-size: 13px
        .button_mini
            width: 100px
    .footer
        .footer__content
            width: 430px
            height: 270px
            &-address
                font-size: 18px
@media ( max-width: 767px )
    .header
        &__official
            display: none
        &__call
            font-size: 16px
    .advantages
        &__item
            font-size: 12px
            .main
                font-size: 15px
    .consultation
        .title
            font-size: 23px
        .subtitle
            font-size: 18px
    .catalog
        .catalog-item
            width: 250px
    .review
        &__text
            .review__text-info
                font-size: 12px
            .review__text-name
                font-size: 16px
            &-main
                p
                    font-size: 14px
        &__logo
            img
                width: 120px
    .footer
        .footer__content
            width: 400px
            height: 240px
            padding-top: 40px
            &-address
                font-size: 15px
            &-phone
                font-size: 18px
            &-contacts
                margin-left: 40px
                margin-right: 40px
@media ( max-width: 575px )
    .container
        width: 100%
    .promo
        &__header
            font-size: 33px
        &__subheader
            font-size: 20px
    .advantages
        min-height: 430px
        .title
            font-size: 24px
        &__text
            display: none
    .catalog 
        &__tab
            div
                font-size: 10px              
        .catalog-item
            width: 450px
            margin: 0 auto
            margin-bottom: 20px
            &__subtitle
                font-size: 19px
            &__descr
                font-size: 14px
            &__list
                li
                    font-size: 15px
            &__old-price
                font-size: 16px
            &__price
                font-size: 19px
        .button_mini
            width: 150px
    .review
        .review__content
            margin-bottom: 70px
        &__text
            .review__text-name
                font-size: 14px
            .review__text-info
                font-size: 12px
            &-main
                p
                    font-size: 12px
        .review__logo
            margin-right: 17px
            img
                width: 100px
    .footer
        .footer__content
            width: 320px
            height: 220px
            padding: 20px 40px 40px 40px
            &-address
                font-size: 14px
            &-phone
                font-size: 17px
            &-contacts
                margin-left: 40px
                margin-right: 40px
                .facebook, .pinterest, .instagram
                    width: 40px
                    height: 40px
                    i
                        font-size: 20px
                        margin-top: 8px
@media ( max-width: 480px )
    #window-form
        width: 250px
        min-height: 370px
        padding: 23px 30px 23px 30px
        .overlay__close
            right: -30px
        .button_submit
            width: 100%
            font-size: 11.5px
        label.error
            font-size: 11px

@media ( max-width: 431px )
    .promo__icon
        width: 100%
@media ( max-width: 360px )
    .catalog 
        &__tab
            div
                font-size: 8px 
@media ( max-width: 320px )
    .header
        display: block
        &__logo
            margin: 0 auto
        &__call
            font-size: 22px
            align-items: center
            margin-top: 15px
            .button
                width: 280px
                height: 40px
                font-size: 15px
    .promo
        &__header
            font-size: 22px
        &__subheader
            font-size: 13px
        &__icon
            width: 290px
        &__advantages
            font-size: 12px

    .consultation
        height: 540px
        .title
            font-size: 13px
            text-align: center
            margin-bottom: 50px
        .subtitle
            display: none
        .form
            width: 260px
            margin: 0 auto
            input
                font-size: 13px
        .button
            width: 260px
            height: 45px
            font-size: 14px
    .catalog
        .title
            margin-bottom: 40px
            font-size: 20px
        &__tabs
            .catalog__tab
                margin: 0 2px
                div
                    font-size: 10px
    .review
        .title
            margin-bottom: 40px
            font-size: 20px
        .review__content
            margin-bottom: 50px
        &__text
            .review__text-name
                font-size: 12px
            .review__text-info
                font-size: 10px
            &-main
                p
                    font-size: 10px
        &__logo
            img
                width: 80px
    .footer
        .footer__content
            width: 319px

